<h1>Restaurants</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Image</th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Phone</th>
      <th scope="col">Website</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td class="align-self-center"><%= image_tag restaurant.image_url, height: '40', width: '50' %></td>
        <td class="align-self-center"><%= restaurant.name %></td>
        <td class="align-self-center"><%= restaurant.address %></td>
        <td class="align-self-center"><%= restaurant.phone %></td>
        <td class="align-self-center"><%= link_to restaurant.website, restaurant.website, target: '_blank', rel: 'noopener' %></td>
        <td><%= link_to 'Show', restaurant, class: "btn btn-link link" %></td>
        <td><%= link_to 'Edit', edit_restaurant_path(restaurant), class: "btn btn-link link" %></td>
        <td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link link" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Restaurant', new_restaurant_path, class: "btn btn-raised btn-outline-dark button-margin" %>
