<!DOCTYPE html>
<html>
  <head>
    <title>Restaurant Reviewer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= render 'layouts/bootstrapMaterialUi' %>
  </head>

  <body>
    <div class="container flex-column" style="height: 100vh;">
      <%= render 'layouts/navbar' %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
